html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block; }

body { line-height: 1.5; }

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

html,body{
  font-family:myriad, sans-serif;
  font-size: 14px;
  padding:0;
  margin:0 0 0 50px;
  border: 0;
  background: #fff;
  width: 1000px;
}

header {
    border-bottom: #e6e6e6 solid 2px;
	margin-bottom:  60px;
	margin-top: 20px;
	text-align: right;
}

#nav {
	text-align: right;
	font-size: 120%;

}
	
header li {
    display:inline-block;
	zoom: 1;
    *display: inline;
	
}

.FAQ h2, div#RightDiv h2 {
	background: url(../images/blue_dot.png) 0 30% no-repeat;
	padding: 0 30px;
	text-decoration: none;
}

.imageDescription {
	background: none;
}

.FAQ li {
	list-style-type: none;
	margin-bottom: 20px;
}

ul.FAQ p {
	list-style-type: none;
	border: 1px solid red;
	font-size: 100%;
}

h1 {
	color: black;
	font-size: 180%;
	margin-bottom: 20px;
}

h2 {
	font-size: 150%;
	color: black;
}

h3 {
	font-size: 120%;
}

header a {
	color: #000;
	text-decoration: none;
	padding: 5px 15px 0 15px;

}

header a.selected {
    font-weight: bold;
    border-bottom: solid;
	border-color: white;
	border-width: 10px;
    border-top: 2px solid #e6e6e6;
    border-radius: 10px 10px 0 0;
}

header ul {
	list-style-type: none;
	padding-top: 50px;
}

article {
	text-decoration: none;
	padding-bottom: 20px;
}

article.feature {
	padding: 0 40px 20px 40px;
	text-decoration: none;        
}

article li { 
	text-decoration: none;
	margin: 0 0;
}

figure {
	padding: 20px 0 0 0;
}

dl.table-display { 
	float: left;
	width:1000px;
	margin: 1em 0;
	padding: 0;
	border-bottom:1px solid: #e6e6e6;
}

.table-display dt {
	clear: left;
	float: left;
	width: 280px;
	margin: 0;
	padding: 10px;
	border-top: 1px solid #e6e6e6;
	font-weight: bold;
}

.table-display dd {
	float: left;
	width: 680px;
	margin: 0;
	padding: 10px;
	border-top: 1px solid #e6e6e6;
}

header a:hover {
    color:#56a0ab;
}

/*navigation for the blind, blend this into the background*/

#header #skipNavigation:hover{
    color: #FFFFFF;
}

header li.dead_link:hover{
color: #AAAAAA;
}

/**content**/

#builder {
	margin: 0px 20px 0 0;
}

#dashboard {
	margin: 0 20px 0 0;
	}
	
#LeftDiv {
	float: left;
	width: 480px;
}

#RightDiv {
	float: left;
	width: 480px;
	margin: 0 0 0 35px;
	border: 1px;
	border-color: black;
	height: 80%;
}

#rightscreen {
	float: left;
	width: 480px;
	margin: 0 0 0 35px;
	border: 1px;
	border-color: black;
	height: 80%;
}

#feedback {
	margin: 20px 0 0 0;
}

#logo {
    float: left;
    margin: 0 0 0 0;
}

img.announce{
  padding-top: 5px;
  margin-left: 70px;
}

img{
    border-style: none
}

#screenshot {
	margin: 35px 0 0 35px;
	padding: 40px;
}

#SourceForgeLogo{
    width:88px;
    height:31px;
}

article.feature ul{
  font-size: 120%;
  font-weight: regular;
  text-decoration: none
}
article.FAQ p {
	padding: 5px 0;
}

.bumper{
  font-size: 150%;
}

#feedback{
	margin-top: 50px;
    display:block;
}

#feedbackLink {
	margin-top: 20px;
}

#feedback a{
    font-weight: regular;
	/*color:#000000;*/
}

#feedback a:hover{
    text-decoration: underline;
}

.imageHeader{
    text-align: center;
    font-size: 20px;
}

.coming_soon{
  color:gray;
}

ul.FAQ {
	border: 1px solid white;
	margin-top: 10px;
	text-decoration: none;
}

/** Announcement Subscription**/
table.announcementSubscription{
    width: 100%;
}

table.announcementSubscription td.inputLabel{
    background-color: #dddddd;
    width: 150px;
}

table.announcementSubscription input{
    width: 250px;
}

table.announcementSubscription input#emailDigest{
    width:auto;
    margin-left:0px;
}

.submitEmailSubscription{
    margin-left:220px;
}

fieldset{
  border: none;
}

#announcements {
	float: right;
  margin: 0 0 0 0;
  width:      0px;
}

#sidebar tr:hover {
    background:#f9f9f9;
}

.milestoneDate {
    width: 80px;
    color:#666;
}

.milestoneSubject {
	    padding: 0 0 0 20px;
}

.milestonesList td{
    border-bottom: 1px  solid #666;
}
th{
    text-align:left;
}

/* * Content * */

.projectDescription {
	padding: 20px 0;
}

div.projectDescription {
  padding-bottom: 20px;
}

#logoDiv{
    float: left;
    display:block;
    width: 100%;
}

#content,
#splitContent,
#aboutContent,

#splitContent,
#aboutContent {
  float:left;
  width:600px;
}

#updates{
  float: right;
}

.term {
    border-top:1px solid #ccc;
    padding-top:10px;
    padding-bottom:10px;
    font-weight: bold;

}

.definition {
    font-weight: bold;
    padding-top:10px;
    padding-bottom:5px;
    margin-bottom: 20px;
}
#faqHeader, #l32_docs {
    /*padding-bottom:20px;*/
    list-style:none;
}

#l32_docs{
  padding-left:0px;
}

.mailinglist p{
  margin-top:0px;
  padding-top:10px;
  padding-bottom:5px;
}

.installationStep {
    padding-top:5px;
    padding-bottom:5px;
}

.firstInstallationStep {
  border-top:0px
}

footer {
    color:#999999;
    margin-top: 100px;
    padding:20px 0px 20px 0;
    clear:both;
    width: 1000px;
}

.indexfooter {
	margin-top: 150px;
}

footer a {
    color:#000;
}

footer a:hover {
    color:#56a0ab;
}

#footerLicense{
    float:left;
    width: 500px;
}

#footerSourceForge{
    float:left;
    width: 50px;
}

#footerLinks{
	font-size: 12px;
    float:right;
}

a.feedBurner {
    background:url(../images/feedicon.gif) no-repeat 0 100% ;
    padding:1px 20px 0 20px;
}

a.feedBurner:hover {
    background:url(../images/feedicon.gif) no-repeat ;
}

a.delicious {
    background:url(../images/delicon.gif) no-repeat 0 100% ;
    padding:1px 0px 0 20px;
}

a.delicious:hover{
    background:url(../images/delicon.gif) no-repeat ;
}